@model AmyzFactory.Models.TextsViewModel



<div class="overlay"></div>
<section class="section">
    <div class="overlay"></div>

    <div class="overlay-2" style="background-image: url('@Model.ImageUrl')" id="InfoBody">
        <h1>@Model.Title</h1>
        <h3>@Model.SubTitle</h3>
        <p>@Model.Description</p>
        <a href="HomePreview/AboutUS">
            <button class="button-underSlid">أقرأ المزيد</button>
        </a>
    </div>

</section>

