
@model AmyzFactory.Models.TextsViewModel



<div class="about-box-main">
    <div class="container">


        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid shadow-img" src="@Model.ImageUrl" alt="" />
                </div>
            </div>
            <div class="col-lg-6" style="text-align:right;">

                <h2 class="noo-sh-title-top footer-title" style="color:#62A73C;">@Model.Title</h2>
                <p class="footer-text">
                    <b>@Model.SubTitle</b>
                </p>
                <p class="footer-title">
                    @if (Model.Description != null)
                    {
                        using (StringReader reader = new StringReader(Model.Description))
                        {
                            string line;
                            <ul>
                                @while ((line = reader.ReadLine()) != null)
                    {

                                    <li class="footer-text">@line</li>

                                }
                            </ul>


                        }
                    }

                </p>
            </div>
        </div>

    </div>
</div>

