
@model IEnumerable<AmyzFactory.Models.ImagesViewModel>




<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">


        @foreach (var item in Model)
        {
            <li class="text-center">
                <img src="@item.ImageUrl" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>أهلا بكم فى <br> أميز للأسمدة والأعلاف</strong></h1>
                            <p class="m-b-40">شاهد وتصفح جميع منتاجاتنا <br> شاهد وتصفح جميع منتاجاتنا</p>
                            <p><a class="btn hvr-hover" href="@Url.Action("ShowProductsWithCategories","Product")">تصفح منتجاتنا</a></p>
                        </div>
                    </div>
                </div>
            </li>
        }

    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>