@model IEnumerable<AmyzFactory.Models.CategoryViewModel>

 

       <!-- Topic Cards -->
<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row justify-content-center" >
            @foreach (var item in Model)
            {
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="@Url.Action("ShowProducts","Product",new { @categoryId = item.Id ,@categoryName=item.Name})">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="@item.ImageUrl" alt="" />
                                </div>
                                <div class="text-container" >
                                    <a class="department-name" href="@Url.Action("ShowProducts","Product",new { @categoryId = item.Id ,@categoryName=item.Name})">@item.Name</a>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
          
        </div>
    </div>
</div>

















 