
@model IEnumerable<AmyzFactory.Models.ProductViewModel>
 
@{ 
     
    string categoryName = ViewBag.CategoryName;

}
<script src="~/Content/js/add_to_cart.js"></script>



<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>@categoryName</h1>
                    <p>اليكم جميع منتجاتنا المتوفرة حاليا فى @categoryName</p>
                </div>
            </div>
        </div>


        @if (Model != null && Model.Count() > 0)
        {

            <div class="row special-list">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 special-grid bulbs">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="type-lb">
                                    <p class="sale">Sale</p>
                                </div>
                                <img src="~/Content/img/gallery-img-01.jpg" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="اظهار التفاصبل"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="اضف الى المفضلة"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                    <a class="cart" href="#">اضف الى العربة</a>
                                </div>
                                <div class="why-text">
                                    <h4>@item.Name</h4>
                                    <h5> @item.Price ج.م</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        }

    </div>
</div>


<script>


    function showProductDetailsDialog(item) {

        var URL = '/Product/ShowItemDetails';


        var model = {
            Id: $(item).attr("itemid"),
            Name:$(item).attr("itemname"),
            Defenition: $(item).attr("itemdefenition"),
            Descriprion: $(item).attr("itemdescription"),
            Price: $(item).attr("itemprice"),
            ImageURL:$(item).attr("itemimage")
        }
 
        $.ajax({
            url: URL,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({model: model}),
            type: "POST",
            success:function(data){
                
            },
            error: function(){
               
            }
        });

    }




</script>