@model AmyzFactory.Models.UserViemModel

@if (Model == null)
{
    <li><a href="@Url.Action("MyAccount","Accounts")"><i class="fa fa-user s_color"></i>تسجيل الدخول</a></li>
}
else
{
    <li><a href="javascript:void(0)" onclick="openProfileNav()"><i class="fa fa-user s_color"></i> @Model.UserName</a></li>
}




 