
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
}




<section class="head-page-add-pro">
    <article class="container">
        <div class="row">
            <div class="col-xs-12">
                <header>
                    <h2><i class="fab fa-product-hunt"></i>&nbsp;&nbsp;Add Feed Program</h2>
                </header>
            </div>
        </div>
    </article>
</section>

<section class="container">
    <article id="pro-add">
        <div class="col-xs-12">
            <form id="feedFrm">
               
           
            </form>
        </div><!-- /.Col -->
    </article><!-- /#Pro-Add -->
</section><!-- /.Container -->


