@model IEnumerable<AmyzFactory.Models.CategoryModel>


<tbody>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td> @item.Id </td>
                <td> @item.Name </td>
                <td>
                    <a href="#.?action.php" class="btn btn-success">Edit</a>

                    @Html.ActionLink("Delete", "DeleteCategory", new { controller = "Categories", categoryID = item?.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    }


</tbody>