@model AmyzFactory.Models.CategoryViewModel

@if (Model != null)
{
    <form id="FrmEditing">
       
        @Html.HiddenFor(m => m.Id)
            <label for="urlSocialInput">Technical Name :</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name", @type = "text" })

        <center style="margin-top:10px;">
            <button id="BtnEditData" type="button" class="btn btn-warning">Update</button>
        </center>

</form>
}



<script>
    $(document).ready(function () {
        $("#BtnEditData").click(function () {
            var formData = $("#FrmEditing").serialize();


            $.ajax({
                type: "Post",
                url: "/Categories/EditTechnical",
                data: formData,
                success: function (data) {
               
                    if (data.IsSuccess) {
                        successDialogEdit(data.Message)
                        $("#tbTechBody").empty();
                        getCategories("Technicals", "Categories", "#tbTechBody", "EditTechnical", "DeleteTechnical", "EditTechnicalVisibility");
                    } else {
                        failedDialog(data.Message)
                    }
                    $("#myModal").modal("hide");

                }
            })
        })
    })
</script>