@model IEnumerable<AmyzFactory.Models.ProductViewModel>




<div class="instagram-box container" dir="ltr">
    <div class="main-instagram owl-carousel owl-theme">

        @if (Model != null && Model.Count() > 0)
        {

            foreach (var item in Model)
            {
                <div class="item" >
                    <div class="ins-inner-box product-items">
                        <img class="product-img" src="@item.ImageURL" alt="" />
                        <p class="produc-name">@item.Name</p>
                        <div class="hov-in">
                            <a href="@Url.Action("ProductDetails","Product",new { @id = item.Id })"><i class="fa fa-info-circle" style="color:#fff" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>

