
@{
    ViewBag.Title = "ProductsPrices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

@model  IEnumerable< AmyzFactory.Models.ProductViewModel>




<div class="wishlist-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>الصورة</th>
                                <th>اسم المنتج</th>
                                <th>السعر</th>
                                <th>التفاصيل</th>

                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="thumbnail-img">
                                            <a href="#">
                                                <img class="img-fluid" src="~/Content/img/img-pro-01.jpg" alt="" />
                                            </a>
                                        </td>
                                        <td class="name-pr">
                                            <a href="#">
                                             @item.Name
                                            </a>
                                        </td>
                                        <td class="price-pr">
                                            <p>@item.Price ح.م</p>
                                        </td>

                                        <td class="add-pr">
                                            @Html.ActionLink("اظهار التفاصيل","","",null,new { @class= "btn hvr-hover" })
                                        </td>
                                    </tr>

                                }
                            }

                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>