
@{
    ViewBag.Title = "AboutUS";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var phones = ViewBag.Phones;
    var emails = ViewBag.Emails;
}


<div class="shop-box-inner">
    <div class="container">
        <div class="title-all" style="margin-top:20px;text-align:right">
            <h1 class="header-pages">من نحن</h1>
        </div>





        @{
            Html.RenderAction("_GetInfo", "HomePreview");
        }

    </div>
</div>

<div class="row my-5">


    <div class="col-2 col-sm-6 col-lg-2">
    </div>

    <div class="col-4 col-sm-6 col-lg-4">
        <div class="service-block-inner">
            <h3 class="footer-title">أرقامنا</h3>
            @foreach (var item in phones)
            {
                <p class="footer-text"> <strong>@item.Title:</strong> <span> @item.Value</span> </p>
            }
        </div>
    </div>
    <div class="col-4 col-sm-6 col-lg-4">
        <div class="service-block-inner">
            <h3 class="footer-title">حساباتنا الالكترونية</h3>
            @foreach (var item in emails)
            {
                <p class="footer-text"> <strong>@item.Title: </strong> <span> @item.Value</span> </p>
            }
        </div>
    </div>

    <div class="col-2 col-sm-6 col-lg-2">
    </div>
</div>




