@model AmyzFactory.Models.TextsViewModel
@{
    ViewBag.Title = "ArticleDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="about-box-main">
   
     <div class="container">
          
         <div>
             <p class="page-define">"@Model.Title"</p>
         </div>


         <div class="title-all" style="margin-top:2.5px;text-align:right">
             <hp class="footer-title">@Model.SubTitle</hp>
         </div>
        
         <div class="banner-frame" style="text-align:center;">
             <img  width="90%" height="500px"  style="margin-bottom:40px;margin-top:20px;" src="@Model.ImageUrl" alt="centered image"  />
         </div> 

 

         @if (Model.Description != null)
         {
             using (StringReader reader = new StringReader(Model.Description))
             {
                 string line;
            <ul>
                @while ((line = reader.ReadLine()) != null)
                    {

                    <li class="footer-text">@line</li>

                }
            </ul>
              
           
             }
         }

    

    </div>
</div>


