
 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
 
  <!-- slid-->
@{
    Html.RenderAction("_GetSliderimages", "HomePreview");
}
<!-- End Slid-->


 <!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/img/categories_img_01.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">أسعار المنتجات</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/img/categories_img_02.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">الرقابة والجودة</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/img/categories_img_03.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">برامج التغذية</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->
 <!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid"  src="~/Content/img/about-img.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top footer-title">We are <span>Freshshop</span></h2>
                <p class="footer-text">
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                           Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a class="btn hvr-hover" href="#">Read More</a>
            </div>
        </div>
        
    </div>
</div>
<!-- End About Page -->
<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>أقسامنا</h1>
                    <p>أقسام أميز للعلف</p>
                </div>
            </div>
        </div>
        @{
            Html.RenderAction("_GetDepartments", "HomePreview");

        }

    </div>
</div>
<!-- End Products  -->
<!-- Start Blog  -->
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>أقسامنا</h1>
                    <p>الأقسام المتوفرة حاليا فى المصنع</p>
                </div>
            </div>
        </div>
        <div class="row">
             
        </div>
    </div>
</div>
<!-- End Blog  -->
