
 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
 
  <!-- slid-->
@{
    Html.RenderAction("_GetSliderimages", "HomePreview");
}
<!-- End Slid-->


 <!-- Start Categories  -->

<!-- End Categories -->
 <!-- Start About Page  -->

<div class="title-all text-center" style="margin-top:80px;">
    <h1 style="font-weight:500;font-size:35px;font-family:system-ui;">معلومات<span style="color:#f19304;"> عنا </span></h1>
</div>

@{
    Html.RenderAction("_GetInfo", "HomePreview");
}

<center style="margin-bottom:15px;">
    <a id="moreInfo" class="btn btn-outline-success" href="@Url.Action("AboutUS","HomePreview")">المزيد</a>
</center>


<div class="box-add-products">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/img/prices.png" alt="" />
                    <a class="btn hvr-hover" href="@Url.Action("ProductsPrices","Product")">أسعار المنتجات</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/img/quality.jpg" alt="" />
                    <a class="btn hvr-hover" href="../HomePreview/ProductQuality">الرقابة والجودة</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/img/feeding.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">برامج التغذية</a>
                </div>
            </div>
        </div>
    </div>
</div>




    <!-- End About Page -->
    <!-- Start Products  -->

 <div class="title-all text-center" style="margin-top:80px;">
    <h1 style="font-weight:500;font-size:35px;font-family:system-ui;">الأقسام الرئيسية و<span style="color:#f19304;"> الفرعية </span></h1>
</div>
    <div class="products-box">
        <div class="container">
          
            @{
                Html.RenderAction("_GetDepartments", "HomePreview");
            }

        </div>
    </div>
    <!-- End Products  -->
    <!-- Start Blog  -->

    <div class="latest-blog">
        <div class="container">
       

            <div class="row"  style="justify-content: center;">
                @{
                    Html.RenderAction("_GetArticles", "HomePreview");
                }



            </div>
        </div>
    </div>



<div class="title-all text-center" style="margin-top:80px;margin-bottom:80px;">
    <h1 style="color:#f19304;font-weight:500;font-size:35px;font-family:system-ui;">منتجاتنا</h1>
</div>

@{
    Html.RenderAction("_GetAllProducts", "HomePreview");
}

 

    <!-- End Blog  -->

<script>

    (function ($) {
        "use strict";
        // manual carousel controls
        $('.prev').click(function () { $('.carousel').carousel('prev'); return false; });
        $('.next').click(function () { $('.carousel').carousel('next'); return false; });
       
    })(jQuery);
</script>