
 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
 
  <!-- slid-->
@{
    Html.RenderAction("_GetSliderimages", "HomePreview");
}
<!-- End Slid-->


 <!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/img/categories_img_01.jpg" alt="" />
                    <a class="btn hvr-hover" href="../Product/ProductsPrices">أسعار المنتجات</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/img/categories_img_02.jpg" alt="" />
                    <a class="btn hvr-hover" href="../HomePreview/ProductQuality">الرقابة والجودة</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/img/categories_img_03.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">برامج التغذية</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->
 <!-- Start About Page  -->
@{
    Html.RenderAction("_GetInfo", "HomePreview");
}
<center>
    <a id="moreInfo" class="btn hvr-hover" href="../HomePreview/AboutUS">المزيد</a>
</center>

    <!-- End About Page -->
    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>أقسامنا</h1>
                        <p>أقسام أميز للعلف</p>
                    </div>
                </div>
            </div>
            @{
                Html.RenderAction("_GetDepartments", "HomePreview");
            }

        </div>
    </div>
    <!-- End Products  -->
    <!-- Start Blog  -->

    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>المقالات</h1>
                        <p>أجدد المقالات</p>
                    </div>
                </div>
            </div>
            <div class="row">
                @{
                    Html.RenderAction("_GetArticles", "HomePreview");
                }


            </div>
        </div>
    </div>


    <!-- End Blog  -->
