
 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
 
  <!-- slid-->
@{
    Html.RenderAction("_GetSliderimages", "HomePreview");
}
<!-- End Slid-->


 <!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/img/categories_img_01.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">أسعار المنتجات</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/img/categories_img_02.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">الرقابة والجودة</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/img/categories_img_03.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">برامج التغذية</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->
 <!-- Start About Page  -->
@{
    Html.RenderAction("_GetInfo", "HomePreview");
}
<!-- End About Page -->
<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>أقسامنا</h1>
                    <p>أقسام أميز للعلف</p>
                </div>
            </div>
        </div>
        @{
            Html.RenderAction("_GetDepartments", "HomePreview");
        }

    </div>
</div>
<!-- End Products  -->
<!-- Start Blog  -->
 
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>المقالات</h1>
                    <p>مقالات علمية</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="~/Content/img/blog-img.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Fusce in augue non nisi fringilla</h3>
                            <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                            <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#"><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- End Blog  -->
