
@model IEnumerable<AmyzFactory.Models.CategoryViewModel>


@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        var url = "/HomePreview/TechnocalSupport?technicalID=" + item.Id+ "&techName="+item.Name;

        <li class="nav-item"><a href="@url" class="nav-link">@item.Name</a></li>
    }
}

